@font-face {
    font-family: Dank-Mono-Italic;
    src: url(../font/Dank_Mono_Italic.otf);
}

@font-face {
    font-family: Dank-Mono-Regular;
    src: url(../font/Dank_Mono_Regular.otf);
}

@font-face {
    font-family: Harlow-Solid;
    src: url(../font/HARLOWSI.TTF);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: #00000000;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 3%;
    background: url("../images/bg_light1.jpg") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}
.loader{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: #ecf0ef;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.container {
    margin: auto 0px;
    z-index: 99;
    width: 55%;
    min-height: 72%;
    background: rgba(255, 255, 255, 0.287);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 20px 32px 20px;
    box-shadow: 0px 8px 21px -6px rgb(234 75 75 / 64%);
}

.alert-conc {
    position: fixed;
    top: -6px;
    left: auto;
    right: auto;
    z-index: 999;
    transition: all 0.5s ease;
    transform: rotate3d(90, 0, 0, 90deg);
    transform-origin: top;
    width: 400px;
}

.alert {
    margin-top: 32px;
    border-left: 5px solid red;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background-color: #e1ffa9;
    box-shadow: 2px 7px 14px 1px #ffc5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dank-Mono-Regular;
    padding: 5px 16px;
    transition: all 0.4s ease;
}

.alert::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 42px;
    background-color: red;
    width: 2px;
    height: 43px;
}

.alert::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 42px;
    background-color: red;
    width: 2px;
    height: 43px;
}

.dot-l {
    content: "";
    position: absolute;
    top: 38px;
    left: 37px;
    background-color: #ff8080;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    z-index: 999;
}

.dot-r {
    content: "";
    position: absolute;
    top: 38px;
    right: 37px;
    background-color: #ff8080;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    z-index: 999;
}

.show-alert {
    transform: rotate3d(0, 0, 0, 0deg);
}

.active-alert {
    background-color: #e8ffbd;
    align-items: end;
    line-height: 2;
}

.title {
    font-size: 36px;
    font-family: Harlow-Solid, sans-serif;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-position: from-font;
    user-select: none;
    text-align: center;
}

.passContainer {
    margin-top: 24px;
    min-width: 65%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.pass {
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.942);
    overflow: scroll;
    overflow-y: hidden;
    color: rgb(56, 54, 54);
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    white-space: nowrap;
    padding: 0px 60px 0px 20px;
    line-height: 59px;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -4px #df3030ad;
    transition: all 0.3s ease;
}

.pass::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.pass::selection {
    background-color: #e5b402;
}

.pass-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.942);
    color: #9f9696;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    line-height: 59px;
    border-radius: 10px;
    user-select: none;
    transition: all 0.3s ease;
}

.showPass {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50px;
    z-index: 20;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid rgb(255, 214, 214);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 0.05s ease-out;
    cursor: pointer;
}

.showPass:hover {
    background-color: #fbf6f6;
}

.showPass img {
    opacity: 0.6;
    height: 60%;
    cursor: pointer;
}

.passContainer:hover .showPass img {
    opacity: 1;
}

.show-hide {
    display: none;
}

.options {
    min-width: 75%;
    margin-top: 42px;
    font-size: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 70px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 4px;
}
input[type="number"]::selection {
    background-color: rgb(255, 46, 46);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.option label {
    user-select: none;
    font-size: 20px;
    font-family: Dank-Mono-Italic, Dank-Mono-Regular, sans-serif;
}

.submit {
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    padding: 13px 32px;
    border-radius: 8px;
    background-color: #ff0000b6;
    color: white;
    word-spacing: 2.5px;
    border: none;
    transition: all 0.2s ease-in;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

@media screen and (min-width:868px) {
    .submit {
        transition: all 0.4s ease-in;
    }

    .submit:hover {
        background-color: #ff0000df;
        color: white;
        box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
        transform: translateY(-7px);
    }

    .submit:active {
        transform: translateY(-1px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
}

.submit:active {
    box-shadow: none;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    min-width: 24px;
    max-width: 24px;
    border-radius: 99px;
}

.checkbox-wrapper-31 .background {
    fill: white;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    appearance: none;
    -appearance: none;
    -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: #ff0000df;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}

.option label:hover+.checkbox-wrapper-31,
.checkbox-wrapper-31:hover {
    border: 1px solid rgb(155, 2, 2);
}

@media only screen and (max-width:1280px) {
    .container {
        width: 60%;
    }

    .passContainer {
        min-width: 70%;
        max-width: 100%;
    }

    .options {
        min-width: 80%;
    }

    .submit {
        width: 100%;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        width: 70%;
    }

    .passContainer {
        min-width: 80%;
        max-width: 100%;
    }

    .options {
        min-width: 80%;
    }

    .submit {
        width: 100%;
    }
}

@media only screen and (max-width:868px) {
    .container {
        width: 80%;
    }

    .passContainer {
        min-width: 70%;
        max-width: 100%;
    }

    .options {
        min-width: 80%;
    }

    .submit {
        width: 90%;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 90%;
    }

    .passContainer {
        min-width: 90%;
        max-width: 100%;
    }

    .options {
        min-width: 90%;
    }

    .submit {
        width: 80%;
    }
}

@media only screen and (max-width:640px) {
    .container {
        width: 100%;
    }

    .passContainer {
        min-width: 90%;
        max-width: 100%;
    }

    .options {
        min-width: 80%;
    }

    .submit {
        width: 80%;
    }
}

@media only screen and (max-width:540px) {
    .container {
        width: 100%;
    }

    .passContainer {
        min-width: 90%;
        max-width: 100%;
    }

    .submit {
        width: 100%;
    }
}


@media only screen and (max-width:440px) {
    .container {
        width: 95%;
    }

    .alert-conc {
        width: 90%;
    }

    .title {
        font-size: 28px;
    }

    .passContainer {
        min-width: 100%;
        max-width: 100%;
    }

    .pass {
        height: 48px;
        line-height: 48px;
        font-size: 20px;
    }

    input[type="number"] {
        width: 60px;
        outline: none;
        border: none;
        font-size: 14px;
        padding: 4px 10px;
        border-radius: 4px;
    }

    .option label {
        font-size: 18px;
    }

    .submit {
        font-size: 16px;
    }

    .showPass {
        width: 45px;
    }
}

@media only screen and (max-width:393px) {
    .alert-conc {
        width: 90%;
    }

    .active-alert-font {
        align-items: end;
        line-height: 1.25;
        height: 64px;
    }
}

@media only screen and (max-width:350px) {
    .alert-conc {
        width: 90%;
    }

    .active-alert-font {
        align-items: end;
        line-height: 1.25;
        height: 64px;
    }

    .option label {
        font-size: 16px;
    }

    .showPass {
        width: 40px;
    }
}

@media only screen and (max-width:320px) {
    .alert-conc {
        width: 90%;
    }

    .active-alert-font {
        align-items: end;
        line-height: 1.25;
        height: 64px;
    }
}

@media only screen and (min-width:1800px) {
    body {
        width: 1800px;
        margin: auto;
        max-width: 1800px;
        background-size: 110%;
    }
}